<div class="work-container">
    <h2>Work</h2>

    <div class="project-card">
        <div class="project-media">
            <div class="project-image">
                <img src="assets/images/Alura_Encriptador.png">
            </div>
            <a href="https://richiecast07.github.io/OneChanllenge_Sploit/" class="view-website">
                View website
            </a>
        </div>
        <div class="project-info">
            <h3>OneChanllenge Alura Team</h3>
            <p>
                Encryptor is a program that encrypts and decrypts text strings.
            </p>
            <div class="tags">
                <span>HTML</span>
                <span>CSS</span>
                <span>JS</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="project-media">
            <div class="project-image">
                <img src="assets/images/Laundru.png">
            </div>
            <a href="https://richiecast07.github.io/Website_for_a_Laundry/" class="view-website">
                View website
            </a>
        </div>
        <div class="project-info">
            <h3>Laundry</h3>
            <p>
                This is a website made with Bootstrap for a laundry that includes everything from promotions to a
                personal blog for the laundry.
            </p>
            <div class="tags">
                <span>HTML</span>
                <span>SCSS</span>
                <span>CSS</span>
                <span>JS</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="project-media">
            <div class="project-image">
                <img src="assets/images/Personal-Blog.png">
            </div>
            <a href="https://richiecast07.github.io/Personal-Blog/" class="view-website">
                View website
            </a>
        </div>
        <div class="project-info">
            <h3>Personal Blog</h3>
            <p>
                I am a young Software Engineer in process, 19 years old and with an unmatched passion for the art of 8
                bits.
            </p>
            <div class="tags">
                <span>HTML</span>
                <span>CSS</span>
                <span>JS</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="project-media">
            <div class="project-image">
                <img src="assets/images/Alura_Encriptador.png">
            </div>
            <a href="https://richiecast07.github.io/OneChanllenge_Sploit/" class="view-website">
                View website
            </a>
        </div>
        <div class="project-info">
            <h3>Title</h3>
            <p>
                I am a young Software Engineer in process, 19 years old and with an unmatched passion for the art of 8
                bits.
            </p>
            <div class="tags">
                <span>HTML</span>
                <span>HTML</span>
                <span>HTML</span>
                <span>HTML</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="project-media">
            <div class="project-image">
                <img src="assets/images/Alura_Encriptador.png">
            </div>
            <a href="https://richiecast07.github.io/OneChanllenge_Sploit/" class="view-website">
                View website
            </a>
        </div>
        <div class="project-info">
            <h3>Title</h3>
            <p>
                I am a young Software Engineer in process, 19 years old and with an unmatched passion for the art of 8
                bits.
            </p>
            <div class="tags">
                <span>HTML</span>
                <span>HTML</span>
                <span>HTML</span>
                <span>HTML</span>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="project-media">
            <div class="project-image">
                <img src="assets/images/Alura_Encriptador.png">
            </div>
            <a href="https://richiecast07.github.io/OneChanllenge_Sploit/" class="view-website">
                View website
            </a>
        </div>
        <div class="project-info">
            <h3>Title</h3>
            <p>
                I am a young Software Engineer in process, 19 years old and with an unmatched passion for the art of 8
                bits.
            </p>
            <div class="tags">
                <span>HTML</span>
                <span>HTML</span>
                <span>HTML</span>
                <span>HTML</span>
            </div>
        </div>
    </div>
</div>