@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.footer {
    background-color: #FFD700;
    padding: 20px 0;
    text-align: center;
    border-top: 3px solid black;
    position: relative;
}

.footer-icons {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 30vh;
}

.footer-icons a {
    margin: 0 20px;
    display: inline-block;
    margin-right: 80px;
}

.footer-icons img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 160px;
    display: flex;
}

.footer-copyright {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}
