
    <section class="hero">
        <img src="./assets/images/Sploit.png" alt="Avatar">
        <div class="hero-content">
            <h2>Hi, my name is<br><br>Richard Castañeda</h2>
            <p>Software Developer</p>
            <p class="phrase">"I build the future, line by line."</p>
            <button class="btn1">Get in touch</button>
            <button class="btn2">Work</button>
        </div>
    </section>

    <section class="hero_Stars">
        <div class="content_Stars">
            <div class="file">
                <img src="./assets/images/File.png" alt="File">
                <p>Project 1</p>
            </div>
            <div class="file">
                <img src="./assets/images/File.png" alt="File">
                <p>Project 2</p>
            </div>
            <div class="file">
                <img src="./assets/images/File.png" alt="File">
                <p>Project 3</p>
            </div>
        </div>
        <div class="content_Stars_Two">
            <div class="file">
                <img src="./assets/images/File.png" alt="File">
                <p>Project 4</p>
            </div>
            <div class="file">
                <img src="./assets/images/File.png" alt="File">
                <p>Project 5</p>
            </div>
            <div class="file">
                <img src="./assets/images/File.png" alt="File">
                <p>Project 6</p>
            </div>
        </div>
    </section>
