<app-navbar></app-navbar>

<section class="hero">
    <img src="./assets/images/Sploit.png" alt="Avatar">
    <div class="hero-content">
        <h2>Hi, my name is<br><br>Richard Castañeda</h2>
        <p>Software Developer</p>
        <p class="phrase">"I build the future, line by line."</p>
        <a href="/contact" class="btn1">Get in touch</a>
        <a href="/work" class="btn2">Work</a>
    </div>
</section>

<section class="hero_Stars">
    <div class="content_Stars">
        <div class="file">
            <a href="https://richiecast07.github.io/OneChanllenge_Sploit/">
                <img src="./assets/images/File.png" alt="File">
            </a>
            <p>Project 1</p>
        </div>
        <div class="file">
            <a href="https://richiecast07.github.io/Website_for_a_Laundry/">
                <img src="./assets/images/File.png" alt="File">
            </a>
            <p>Project 2</p>
        </div>
        <div class="file">
            <a href="https://richiecast07.github.io/Personal-Blog/">
                <img src="./assets/images/File.png" alt="File">
            </a>
            <p>Project 3</p>
        </div>
    </div>
    <div class="content_Stars_Two">
        <div class="file">
            <a href="https://richiecast07.github.io/OneChanllenge_Sploit/">
                <img src="./assets/images/File.png" alt="File">
            </a>
            <p>Project 4</p>
        </div>
        <div class="file">
            <a href="https://richiecast07.github.io/Website_for_a_Laundry/">
                <img src="./assets/images/File.png" alt="File">
            </a>
            <p>Project 5</p>
        </div>
        <div class="file">
            <a href="https://richiecast07.github.io/Personal-Blog/">
                <img src="./assets/images/File.png" alt="File">
            </a>
            <p>Project 6</p>
        </div>
    </div>
</section>

<app-footer></app-footer>
