@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url('../../../../public/assets/images/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.work-container {
    text-align: center;
    padding: 20px;
    min-height: 180vh;
    color: white;
}

.work-container h2 {
    font-family: "Press Start 2P", system-ui;
    font-size: 24px;
    color: #ffcc00;
    margin-bottom: 30px;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    height: 55vh;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    gap: 15px;
}

.project-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project-image {
    width: 300px;
    height: 250px;
    margin: 20px 10px;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}

.project-image img {
    width: 300px;
    height: 250px;
}

.view-website {
    font-family: "Press Start 2P", system-ui;
    font-size: 14px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    align-self: center;
    margin-top: auto;
    height: 3vh;
}

.view-website:hover {
    background-color: #ffb300;
}

.project-info {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 25px 20px;
}

.project-info h3 {
    font-family: "Press Start 2P", system-ui;
    font-size: 18px;
    color: #ffcc00;
    margin: 0;
    text-align: center;
}

.project-info p {
    font-family: "Press Start 2P", system-ui;
    font-size: 12px;
    line-height: 1.5;
    margin: 10px 0;
    color: white;
    max-width: 300px;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-left: 10vh;
    justify-content: flex-start;
}

.tags span {
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    background-color: rgba(48, 45, 45, 0.767);
    color: white;
    padding: 15px 15px;
    border-radius: 15px;
    text-align: center;
    width: calc(35% - 5px);
    box-sizing: border-box;
}

